@typeparam TEnum where TEnum: struct

<select @bind="SelectedValue" @oninput="OnSelectedValueChanged">
    @foreach (var v in Enum.GetValues(typeof(TEnum)))
    {
        <option value="@v">@v</option>
    }
</select>
