@typeparam TEnum where TEnum: Enum

<select @bind="SelectedValue">
    @foreach (var v in Enum.GetValues(typeof(TEnum)))
    {
        <option value="@v">@v</option>
    }
</select>

@code {
    [Parameter] public TEnum SelectedValue { get; set; } = default!;
}
